<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aegis.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aegis.App.Settings>
            <setting name="Iterations" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Memory" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Parallelism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FIPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PBKF2" serializeAs="String">
                <value>0</value>
            </setting>
        </Aegis.App.Settings>
    </userSettings>
</configuration>